* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i.bi.bi-person-plus-fill,
i.bi.bi-people-fill {
    font-size: 22px;
    padding-right: 11px;
}

.border-bottom-custom-color-1{
    border-bottom: 1px solid #ced4da;
}

h1.total-items a:hover {
    text-decoration: underline !important;
}

.client-image-size img {
    width: 65px;
    height: 65px;
}

span.plus-icon-to-add-new-client a:hover {
    transform: scale(1.5) !important;
    display: inline-block;
}

.transition{
    transition: all .5s ease-in-out;
}

.align-items-center h1 a:hover .bi {
    transform: scale(1.5) !important;
}

.hover-item-arrow:hover {
    transform: scale(1.5) !important;
    display: block;
}